body {
    text-align: center;
    padding: 3px;
    background-color: rgb(107, 62, 47);
    color: whitesmoke;
}
h1 {
    width: 100vw;
}
.header {
    text-align: center;
}
.summary {
    margin-top: 1rem;
    padding: 4rem;
}
.bullet-heading {
    font-size: large;
    font-weight: 400;
}
.milestone {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5rem;
    padding-right: 5rem;
}
.sections {
    padding: 20px;
}
ul > li {
    padding-top: 5px;
    padding-bottom: 5px;
}
