body {
    padding: 5%;
    background-color: rgb(107, 62, 47);
    color: whitesmoke;
}
h1 {
    width: 100vw;
}
.summary {
    margin-top: 1rem;
}
.bullet-heading {
    font-size: large;
    font-weight: 400;
}
.milestone {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
.sections {
    padding: 10%;
}
ul > li {
    padding-top: 5px;
    padding-bottom: 5px;
}
